Software/Node-RED/flows.json
[{"id":"aeb97a68.f4bb88","type":"tab","label":"Light vs pump","disabled":false,"info":""},{"id":"496d80a4.ab5ce","type":"tab","label":"Temperature vs humidity","disabled":false,"info":""},{"id":"34b8094c.513226","type":"tab","label":"Statistical tables","disabled":false,"info":""},{"id":"3951bdc7.b867d2","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"edb39049.29542","type":"mqtt-broker","z":"","name":"test","broker":"192.168.0.102","port":"1883","clientid":"Test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca508aa6.2c9928","type":"ui_tab","z":"","name":"Smart Garden","icon":"dashboard"},{"id":"10850ec5.36f181","type":"ui_group","z":"aeb97a68.f4bb88","name":"Settings","tab":"ca508aa6.2c9928","order":1,"disp":true,"width":"6","collapse":false},{"id":"752b733a.77993c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":69,"sy":69,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c60e076.67116","type":"ui_group","z":"","name":"Conditions","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"f99b4536.03ca38","type":"ui_group","z":"","name":"Comfort","tab":"","disp":true,"width":"6","collapse":false},{"id":"f0e33b76.bc3498","type":"ui_group","z":"","name":"Conditions","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"cfa0f8c6.873ec8","type":"ui_group","z":"","name":"Comfort","tab":"","disp":true,"width":"6","collapse":false},{"id":"c620120e.df157","type":"ui_group","z":"","name":"Statistical tables","tab":"ca508aa6.2c9928","order":3,"disp":true,"width":"6","collapse":false},{"id":"54996ec4.b60a2","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f96a60d.dbfbba","type":"mui_group","z":"","name":"Group 2","tab":"","disp":true,"width":"6","collapse":false},{"id":"b354bac2.327078","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8892edb5.6fbb6","type":"ui_group","z":"","name":"Parameter Gauge ","tab":"ca508aa6.2c9928","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd9b8646.08ac68","type":"mqtt-broker","z":"","name":"Home","broker":"192.168.0.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62ef42c3.99901c","type":"ui_group","z":"","name":"Outside","tab":"","order":1,"disp":true,"width":"7"},{"id":"666fc2f1.2f004c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2fef6619.7ef4ca","type":"ui_group","z":"","name":"Bathroom","tab":"","order":2,"disp":true,"width":"6"},{"id":"31dd9427.c8202c","type":"ui_group","z":"","name":"Wetter","tab":"","disp":true,"width":"7"},{"id":"9f0134a8.39da08","type":"ui_group","z":"","name":"Wetter","tab":"","disp":true,"width":"6"},{"id":"285dd993.577f06","type":"ui_group","z":"","name":"Temperatur","tab":"","order":1,"disp":true,"width":"6"},{"id":"ca9c3a57.51ee78","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b141238e.2a335","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29970c97.77cbb4","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"12","collapse":false},{"id":"365d4a51.b84ce6","type":"mqtt in","z":"aeb97a68.f4bb88","name":"light1","topic":"garden1/light1","qos":"2","broker":"54996ec4.b60a2","x":110,"y":380,"wires":[["d1816473.f987a8"]]},{"id":"d1816473.f987a8","type":"json","z":"aeb97a68.f4bb88","name":"","property":"payload","action":"","pretty":false,"x":330,"y":300,"wires":[["247c3dc1.378162"]]},{"id":"8c7a420e.861b4","type":"ui_text","z":"aeb97a68.f4bb88","group":"10850ec5.36f181","order":3,"width":0,"height":0,"name":"Status light1","label":"Light 1","format":"{{msg.payload}}","layout":"row-left","x":710,"y":160,"wires":[]},{"id":"247c3dc1.378162","type":"function","z":"aeb97a68.f4bb88","name":"Case","func":"if(msg.payload.status===\"L1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["8c7a420e.861b4"]]},{"id":"e9ec3eb1.dd5a3","type":"mqtt in","z":"496d80a4.ab5ce","name":"","topic":"garden1/sensor1","qos":"2","broker":"54996ec4.b60a2","x":80,"y":120,"wires":[["7b8e4fd8.fe44a"]]},{"id":"7b8e4fd8.fe44a","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["cc63e7fc.df9998","a3ca1601.244b88","995036c7.616428","205864da.9c0d6c","4fd54e98.89d31"]]},{"id":"cc63e7fc.df9998","type":"function","z":"496d80a4.ab5ce","name":"temperature","func":"msg.payload=msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["a925d383.92e0a"]]},{"id":"a3ca1601.244b88","type":"function","z":"496d80a4.ab5ce","name":"humidity","func":"msg.payload=msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["ad54681.d7be198"]]},{"id":"a925d383.92e0a","type":"ui_gauge","z":"496d80a4.ab5ce","name":"","group":"8892edb5.6fbb6","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"째C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":790,"y":60,"wires":[]},{"id":"ad54681.d7be198","type":"ui_gauge","z":"496d80a4.ab5ce","name":"","group":"8892edb5.6fbb6","order":2,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"20","max":"95","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"75","x":800,"y":200,"wires":[]},{"id":"700f0582.07360c","type":"mqtt in","z":"34b8094c.513226","name":"","topic":"garden1/sensor1","qos":"2","broker":"54996ec4.b60a2","x":180,"y":320,"wires":[["b44cfba.ba44408"]]},{"id":"b44cfba.ba44408","type":"json","z":"34b8094c.513226","name":"","property":"payload","action":"","pretty":false,"x":370,"y":320,"wires":[["83b3e527.7d0d08","92750b9e.5eaa88"]]},{"id":"83b3e527.7d0d08","type":"function","z":"34b8094c.513226","name":"temperature","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.temperature;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["aebbadbf.b020b"]]},{"id":"92750b9e.5eaa88","type":"function","z":"34b8094c.513226","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.humidity;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"x":640,"y":380,"wires":[["aebbadbf.b020b"]]},{"id":"aebbadbf.b020b","type":"ui_chart","z":"34b8094c.513226","name":"","group":"c620120e.df157","order":9,"width":"6","height":"6","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":950,"y":300,"wires":[[],[]]},{"id":"995036c7.616428","type":"function","z":"496d80a4.ab5ce","name":"brightness","func":"msg.payload=msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["4c633c99.ed2294"]]},{"id":"4c633c99.ed2294","type":"ui_gauge","z":"496d80a4.ab5ce","name":"","group":"8892edb5.6fbb6","order":3,"width":"6","height":"5","gtype":"gage","title":"Brightness","label":"lux","format":"{{value}}","min":"0","max":"255","colors":["#000000","#ffc000","#ca3b3b"],"seg1":"80","seg2":"160","x":830,"y":280,"wires":[]},{"id":"19b0b13a.da473f","type":"mqtt out","z":"34b8094c.513226","name":"Refresh","topic":"","qos":"2","retain":"false","broker":"54996ec4.b60a2","x":420,"y":60,"wires":[]},{"id":"527a314c.566e","type":"ui_toast","z":"34b8094c.513226","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Notification","name":"","x":850,"y":180,"wires":[]},{"id":"9b585abe.962f58","type":"function","z":"34b8094c.513226","name":"refreshed","func":"if(msg.payload.status==\"refreshed\") msg.payload=\"Refreshed\";\nelse msg.payload =\"Refreshing...\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["527a314c.566e"]]},{"id":"79fc5bef.82ac74","type":"ui_button","z":"34b8094c.513226","name":"","group":"c620120e.df157","order":10,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"{\"status\":\"refresh\"}","payloadType":"json","topic":"garden1/refresh1","x":190,"y":80,"wires":[["19b0b13a.da473f"]]},{"id":"f1d6acd8.87f9a","type":"mqtt in","z":"34b8094c.513226","name":"","topic":"garden1/refresh1","qos":"2","broker":"54996ec4.b60a2","x":180,"y":180,"wires":[["4f48fac.361ad04"]]},{"id":"4f48fac.361ad04","type":"json","z":"34b8094c.513226","name":"","property":"payload","action":"","pretty":false,"x":390,"y":180,"wires":[["9b585abe.962f58"]]},{"id":"6669f851.e6db48","type":"mqtt in","z":"aeb97a68.f4bb88","name":"","topic":"garden1/mode1","qos":"2","broker":"54996ec4.b60a2","x":140,"y":200,"wires":[["526ad926.3e8b68"]]},{"id":"135d06de.7fdf09","type":"ui_switch","z":"aeb97a68.f4bb88","name":"","label":"Switch mode","group":"10850ec5.36f181","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"garden1/mode1","style":"","onvalue":"{\"status\":\"Auto\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\":\"Manual\"}","offvalueType":"json","officon":"","offcolor":"","x":420,"y":80,"wires":[["71063867.e1a988"]]},{"id":"71063867.e1a988","type":"mqtt out","z":"aeb97a68.f4bb88","name":"","topic":"","qos":"2","retain":"false","broker":"54996ec4.b60a2","x":600,"y":100,"wires":[]},{"id":"526ad926.3e8b68","type":"json","z":"aeb97a68.f4bb88","name":"","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["65fee3f0.20898c"]]},{"id":"8c98d6e2.7d1598","type":"ui_toast","z":"aeb97a68.f4bb88","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Mode Control","name":"","x":710,"y":240,"wires":[]},{"id":"f9ab971f.bd3278","type":"ui_text","z":"aeb97a68.f4bb88","group":"10850ec5.36f181","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-left","x":760,"y":380,"wires":[]},{"id":"65fee3f0.20898c","type":"function","z":"aeb97a68.f4bb88","name":"Case","func":"var msg3 = {};\n\nmsg3.payload=msg.payload.status;\nmsg3.topic = \"Mode\";\n\nreturn msg3;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["8c98d6e2.7d1598","f9ab971f.bd3278","6848b47c.f2d5fc","8a01f09c.e9715"]]},{"id":"6848b47c.f2d5fc","type":"function","z":"aeb97a68.f4bb88","name":"","func":"\nvar mode = flow.get('mode')|| 0;\nvar light1 = flow.get('light1')|| 0;\n\n\nif(msg.topic == \"Mode\"){\n    mode = {payload:msg.payload};\n    flow.set (\"mode\",mode);\n}\n if (msg.topic === 'light1'){\n    light1 = {payload:msg.payload};\n    flow.set (\"light1\",light1);\n    \n}\nif(mode.payload === \"Auto\") return null;\nif(mode.payload === \"Manual\"&& light1.payload === \"ON\")\nreturn {payload:{\"status\":\"L1\"}};\nelse \nreturn {payload:{\"status\":\"L0\"}};\nreturn null","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["44774182.92994"]]},{"id":"c4eb930a.927cc","type":"ui_button","z":"aeb97a68.f4bb88","name":"","group":"10850ec5.36f181","order":4,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"light1","x":510,"y":500,"wires":[["6848b47c.f2d5fc"]]},{"id":"21d78d8f.beef42","type":"ui_button","z":"aeb97a68.f4bb88","name":"","group":"10850ec5.36f181","order":5,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"light1","x":510,"y":560,"wires":[["6848b47c.f2d5fc"]]},{"id":"44774182.92994","type":"mqtt out","z":"aeb97a68.f4bb88","name":"","topic":"garden1/light1","qos":"2","retain":"false","broker":"54996ec4.b60a2","x":1090,"y":400,"wires":[]},{"id":"a10eee97.c47d9","type":"ui_slider","z":"aeb97a68.f4bb88","name":"","label":"Brightness","group":"10850ec5.36f181","order":6,"width":0,"height":0,"passthru":true,"topic":"brightness","min":0,"max":"255","step":"10","x":760,"y":600,"wires":[["c6355ba2.4a9dc8"]]},{"id":"c6355ba2.4a9dc8","type":"debug","z":"aeb97a68.f4bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":580,"wires":[]},{"id":"8a01f09c.e9715","type":"function","z":"aeb97a68.f4bb88","name":"","func":"var mode = flow.get('mode')|| 0;\nvar pump1 = flow.get('pump1')|| 0;\n\n\nif(msg.topic == \"Mode\"){\n    mode = {payload:msg.payload};\n    flow.set (\"mode\",mode);\n}\n if (msg.topic === 'pump1'){\n    pump1 = {payload:msg.payload};\n    flow.set (\"pump1\",pump1);\n    \n}\nif(mode.payload === \"Auto\") return null;\nif(mode.payload === \"Manual\"&& pump1.payload === \"ON\")\nreturn {payload:{\"status\":\"P1\"}};\nelse \nreturn {payload:{\"status\":\"P0\"}};\nreturn null\n","outputs":1,"noerr":0,"x":750,"y":760,"wires":[["24bafc13.e01bb4"]]},{"id":"e895be7b.f7bac","type":"mqtt in","z":"aeb97a68.f4bb88","name":"pump1","topic":"garden1/pump1","qos":"2","broker":"54996ec4.b60a2","x":90,"y":740,"wires":[["d5c02f1a.103fb"]]},{"id":"d5c02f1a.103fb","type":"json","z":"aeb97a68.f4bb88","name":"","property":"payload","action":"","pretty":false,"x":330,"y":660,"wires":[["d5561559.6865d8"]]},{"id":"799e5cb9.332234","type":"ui_text","z":"aeb97a68.f4bb88","group":"10850ec5.36f181","order":7,"width":0,"height":0,"name":"Status Pump1","label":"Pump 1","format":"{{msg.payload}}","layout":"row-left","x":780,"y":680,"wires":[]},{"id":"d5561559.6865d8","type":"function","z":"aeb97a68.f4bb88","name":"Case","func":"if(msg.payload.status==\"P1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["799e5cb9.332234"]]},{"id":"c8e8b35c.9c84b","type":"ui_button","z":"aeb97a68.f4bb88","name":"","group":"10850ec5.36f181","order":8,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"pump1","x":510,"y":780,"wires":[["8a01f09c.e9715"]]},{"id":"7b7d474d.6bbf88","type":"ui_button","z":"aeb97a68.f4bb88","name":"","group":"10850ec5.36f181","order":9,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"pump1","x":510,"y":840,"wires":[["8a01f09c.e9715"]]},{"id":"24bafc13.e01bb4","type":"mqtt out","z":"aeb97a68.f4bb88","name":"","topic":"garden1/pump1","qos":"2","retain":"false","broker":"54996ec4.b60a2","x":1100,"y":700,"wires":[]},{"id":"cda10ed2.ccb01","type":"mqtt in","z":"496d80a4.ab5ce","name":"","topic":"garden1/mode1","qos":"2","broker":"54996ec4.b60a2","x":80,"y":780,"wires":[["89c71e65.b8ec5"]]},{"id":"89c71e65.b8ec5","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":290,"y":800,"wires":[["e0821e6e.32de5"]]},{"id":"e0821e6e.32de5","type":"function","z":"496d80a4.ab5ce","name":"Case","func":"var msg3 = {};\n\nmsg3.payload=msg.payload.status;\nmsg3.topic = \"Mode\";\n\nreturn msg3;","outputs":1,"noerr":0,"x":430,"y":940,"wires":[["bb67d54b.c5f008"]]},{"id":"bb67d54b.c5f008","type":"function","z":"496d80a4.ab5ce","name":"","func":"var mode = flow.get('mode')|| 0;\nvar parameter = flow.get('parameter')|| 0;\n\n\nif(msg.topic == \"Mode\"){\n    mode = {payload:msg.payload};\n    flow.set (\"mode\",mode);\n}\n if (msg.topic === 'parameter'){\n    parameter = {payload:msg.payload};\n    flow.set (\"parameter\",parameter);\n    \n}\nif(mode.payload === \"Manual\") return null;\nif(mode.payload === \"Auto\"){\n    return parameter;\n}\n\nreturn null\n","outputs":1,"noerr":0,"x":770,"y":940,"wires":[["fc6b9273.8735a"]]},{"id":"b46238c9.731f48","type":"ui_form","z":"496d80a4.ab5ce","name":"","label":"Setting Parameter","group":"10850ec5.36f181","order":10,"width":0,"height":0,"options":[{"label":"Temperature Max","value":"Tmax","type":"number","required":false},{"label":"Temperature Min","value":"Tmin","type":"number","required":false},{"label":"Humidity Max","value":"Hmax","type":"number","required":false},{"label":"Humidity Min","value":"Hmin","type":"number","required":false}],"formValue":{"Tmax":"","Tmin":"","Hmax":"","Hmin":""},"payload":"","submit":"submit","cancel":"cancel","topic":"parameter","x":390,"y":1080,"wires":[["bb67d54b.c5f008"]]},{"id":"fc6b9273.8735a","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":980,"y":900,"wires":[["13f5c52e.710ddb"]]},{"id":"13f5c52e.710ddb","type":"mqtt out","z":"496d80a4.ab5ce","name":"","topic":"garden1/parameter1","qos":"2","retain":"false","broker":"54996ec4.b60a2","x":1230,"y":900,"wires":[]},{"id":"205864da.9c0d6c","type":"function","z":"496d80a4.ab5ce","name":"temperature max min","func":"var temperature = flow.get('temperature')|| 0;\nvar Tmax = flow.get('Tmax')|| 0;\nvar Tmin = flow.get('Tmin')|| 0;\n\nif(msg.topic == \"garden1/sensor1\"){\n    temperature = {payload:msg.payload.temperature};\n    flow.set (\"temperature\",temperature);\n}\n if (msg.topic === 'garden1/parameter1'){\n    Tmax = {payload:msg.payload.Tmax};\n    flow.set (\"Tmax\",Tmax);\n    \n}\n if (msg.topic === 'garden1/parameter1'){\n    Tmin = {payload:msg.payload.Tmin};\n    flow.set (\"Tmin\",Tmin);\n    \n}\nif (temperature.payload>Tmax.payload)\n{\n    return {payload: \"Temperature is too high!!!\",topic:\"Warning\"}\n}\nif (temperature.payload<Tmin.payload)\n{\n    return {payload: \"Temperature is too low!!!\",topic:\"Warning\"}\n}\n    \n\nreturn null","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["47e9bab5.da2874"]]},{"id":"f15e4cf7.7d256","type":"mqtt in","z":"496d80a4.ab5ce","name":"","topic":"garden1/parameter1","qos":"2","broker":"54996ec4.b60a2","x":90,"y":380,"wires":[["8a0b0691.8f74b8"]]},{"id":"8a0b0691.8f74b8","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":320,"y":460,"wires":[["205864da.9c0d6c"]]},{"id":"47e9bab5.da2874","type":"ui_toast","z":"496d80a4.ab5ce","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":850,"y":380,"wires":[]},{"id":"4fd54e98.89d31","type":"function","z":"496d80a4.ab5ce","name":"humidity max min","func":"var humidity = flow.get('humidity')|| 0;\nvar Hmax = flow.get('Hmax')|| 0;\nvar Hmin = flow.get('Hmin')|| 0;\n\nif(msg.topic == \"garden1/sensor1\"){\n    humidity = {payload:msg.payload.humidity};\n    flow.set (\"humidity\",humidity);\n}\n if (msg.topic === 'garden1/parameter1'){\n    Hmax = {payload:msg.payload.Hmax};\n    flow.set (\"Hmax\",Hmax);\n    \n}\n if (msg.topic === 'garden1/parameter1'){\n    Hmin = {payload:msg.payload.Hmin};\n    flow.set (\"Hmin\",Hmin);\n    \n}\nif (humidity.payload>Hmax.payload)\n{\n    return {payload: \"Humidity is too high!!!\",topic:\"Warning\"}\n}\nif (humidity.payload<Hmin.payload)\n{\n    return {payload: \"Humidity is too low!!!\",topic:\"Warning\"}\n}\n    \n\nreturn null","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["1d127b69.740e45"]]},{"id":"98021d3.b9106e","type":"mqtt in","z":"496d80a4.ab5ce","name":"","topic":"garden1/parameter1","qos":"2","broker":"54996ec4.b60a2","x":90,"y":580,"wires":[["36d8d102.4862be"]]},{"id":"36d8d102.4862be","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":320,"y":660,"wires":[["4fd54e98.89d31"]]},{"id":"1d127b69.740e45","type":"ui_toast","z":"496d80a4.ab5ce","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":830,"y":580,"wires":[]},{"id":"aab854d2.f42038","type":"mqtt in","z":"496d80a4.ab5ce","name":"","topic":"garden1/parameter1","qos":"2","broker":"54996ec4.b60a2","x":90,"y":1220,"wires":[["70f74864.e946c8"]]},{"id":"70f74864.e946c8","type":"json","z":"496d80a4.ab5ce","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1220,"wires":[["ec6ac644.fe92f8","3399a519.2bdd6a","a9c27cc0.f63a3","6169cd5c.677154"]]},{"id":"ec6ac644.fe92f8","type":"function","z":"496d80a4.ab5ce","name":"Temperature Max","func":"msg.payload=msg.payload.Tmax;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1180,"wires":[["ba3148a0.34ee68"]]},{"id":"3399a519.2bdd6a","type":"function","z":"496d80a4.ab5ce","name":"Temperature Min","func":"msg.payload=msg.payload.Tmin;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1260,"wires":[["1c9f4a9c.d700a5"]]},{"id":"ba3148a0.34ee68","type":"ui_text","z":"496d80a4.ab5ce","group":"c620120e.df157","order":5,"width":"3","height":"1","name":"","label":"Temperature Max","format":"{{msg.payload}}째C","layout":"row-left","x":930,"y":1160,"wires":[]},{"id":"1c9f4a9c.d700a5","type":"ui_text","z":"496d80a4.ab5ce","group":"c620120e.df157","order":6,"width":"3","height":"1","name":"","label":"Temperature Min","format":"{{msg.payload}}째C","layout":"row-left","x":930,"y":1240,"wires":[]},{"id":"614e6a52.ed7694","type":"ui_text","z":"496d80a4.ab5ce","group":"c620120e.df157","order":7,"width":"3","height":"1","name":"","label":"Humidity Max","format":"{{msg.payload}}%","layout":"row-left","x":920,"y":1320,"wires":[]},{"id":"6c53cbbd.54aca4","type":"ui_text","z":"496d80a4.ab5ce","group":"c620120e.df157","order":8,"width":"3","height":"1","name":"","label":"Humidity Min","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":1380,"wires":[]},{"id":"a9c27cc0.f63a3","type":"function","z":"496d80a4.ab5ce","name":"Humidity Max","func":"msg.payload=msg.payload.Hmax;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1320,"wires":[["614e6a52.ed7694"]]},{"id":"6169cd5c.677154","type":"function","z":"496d80a4.ab5ce","name":"Humidity Min","func":"msg.payload=msg.payload.Hmin;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1380,"wires":[["6c53cbbd.54aca4"]]},{"id":"90d88144.ddba1","type":"ui_text","z":"496d80a4.ab5ce","group":"c620120e.df157","order":4,"width":"6","height":"1","name":"","label":"Parameter Garden","format":"{{msg.payload}}","layout":"row-center","x":890,"y":1060,"wires":[]},{"id":"552849f.c4888b8","type":"inject","z":"3951bdc7.b867d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["f8f97d07.f9737"]]},{"id":"f8f97d07.f9737","type":"openweathermap","z":"3951bdc7.b867d2","name":"","wtype":"current","lon":"","lat":"","city":"Ha Noi","country":"Viet Nam","language":"en","x":390,"y":140,"wires":[["d5074e2a.c3d77","11c5ca23.f7c806","5e9a331.b282bcc","2cf4be8b.6919c2"]]},{"id":"11c5ca23.f7c806","type":"ui_text","z":"3951bdc7.b867d2","group":"c620120e.df157","order":1,"width":"6","height":"2","name":"","label":"Current outdoor weather ","format":"{{payload.description}}","layout":"col-center","x":990,"y":300,"wires":[]},{"id":"d5074e2a.c3d77","type":"debug","z":"3951bdc7.b867d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":400,"wires":[]},{"id":"5e9a331.b282bcc","type":"ui_gauge","z":"3951bdc7.b867d2","name":"","group":"c620120e.df157","order":2,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"째C","format":"{{payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1190,"y":160,"wires":[]},{"id":"98fd711.e65109","type":"ui_gauge","z":"3951bdc7.b867d2","name":"","group":"c620120e.df157","order":3,"width":"3","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":240,"wires":[]},{"id":"2cf4be8b.6919c2","type":"function","z":"3951bdc7.b867d2","name":"humidity","func":"msg.payload=msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":60,"wires":[["98fd711.e65109"]]}]